*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

.navbar{
  /* grid-area: navbar; */
  width: 100vh;
  background-color: teal;
  color: #ffff;
}

footer{
  /* grid-area: footer; */
  color: #ffff;
  height: 5vh;
  width: 100%;
  background-color: teal;
  /* margin: 0%; */
}

#tabla{
  font-size: 4px;
  margin: auto;
  /* scrollbar-color: teal lightteal; */
  /* scrollbar-width:auto;
  scrollbar-width: thin; */
}



@media screen and (min-width: 992px) {
  .navbar{
    width: 100%;
  }

  footer{
    width: 100%;
  }

  main{
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
}


