*{
  /* box-sizing: border-box; */
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

#tabla{
  font-size: 4px;
  margin: auto;
}

footer{
  background-color: teal;
  color: white;
  /* width: 100%; */
}

nav{
  background-color: teal;
}

@media screen and (max-width: 576px) {
  .navbar{
    width: 100%;
    /* max-width: 576px; */
  }

  .main{
    overflow-x: scroll;
  } 
}

@media screen and (max-width: 786px) {
  .navbar{
    width: 100%;
  }

  .main{
    overflow-x: scroll;
  } 
}

@media screen and (min-width: 992px) {
  main{
    overflow-x: scroll;
  } 
  
  #tabla{
    font-size: 12px;
  }
}


